*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}
.sty{
color:brown;
}
.container{
    min-height:70vh;
}
.container{
    background-color: rgb(248, 245, 242);
}